@(currentPage: com.avaje.ebean.Page[contacts])
@import helper._
@urist {
    <script>
            $(document).ready(function(){
            $("#addForm").validate();
            });
    </script>
    <h2> Контактные лица </h2>
    <div class="control-group">
        <label class="control-label"> Поиск </label>
        @form(routes.Application.searchContact(), 'id -> "SearchForm", 'name -> "SearchForm") {
            <div class="input-append">
                <input name="param" placeholder="Контрагент" class="input-medium" type="text">
                <button class="btn" type="button" form="SearchForm"> Поиск </button>
            </div>
        }

        <div class="pagination pagination-centered pagination-small">
            <ul>

                @for(i <- 0 to currentPage.getTotalPageCount - 1) {
                    @if(i.equals(currentPage.getPageIndex)) {
                        <li class="disabled"> <a href="@routes.Application.AddContactPage(i)"> @(i + 1) </a> </li>
                    } else {
                        <li class="active"> <a href="@routes.Application.AddContactPage(i)"> @(i + 1) </a> </li>
                    }
                }
            </ul>
        </div>

        <table class="table table-striped table-condensed table-bordered">
            <thead>
                <tr>
                    <th> Компания </th>
                    <th> ФИО </th>
                    <th> Изменить </th>

                </tr>
            </thead>
            <tbody>

                @for(contacts <- currentPage.getList) {
                   @if(contacts.contact_fio!=""){
                    <tr>
                         <td> @contacts.contracts_c.contr_c.contr_name </td>
                         <td> @contacts.contact_fio </td>
                         <td> <a href="@routes.Application.EditContactPage(contacts.contact_id)"> <img src="@routes.Assets.at("images/edit.jpg")" height="25" width="25"> </a> </td>
                    </tr>
                       }


                }

            </tbody>
        </table>
        <div class="pagination pagination-centered pagination-small">
            <ul>

                @for(i <- 0 to currentPage.getTotalPageCount - 1) {
                    @if(i.equals(currentPage.getPageIndex)) {
                        <li class="disabled"> <a href="@routes.Application.AddContactPage(i)"> @(i + 1) </a> </li>
                    } else {
                        <li class="active"> <a href="@routes.Application.AddContactPage(i)"> @(i + 1) </a> </li>
                    }
                }
            </ul>
        </div>

    </div>

}