@(initiator: List[user], data:List[contragents], papka:List[papki])

@import helper._
@urist{
@form(routes.Application.AddDoc(), 'enctype -> "multipart/form-data", 'id->"addForm"){

<!--Первый шаг-->
<fieldset title="Шаг 1">
<legend>Реквизиты договора</legend>


<div class="input-append">
 <input name="contract_num" placeholder="Номер договора" class="input-medium required" type="text">
 <input name="contract_name" placeholder="Название договора" class="input-xxlarge required" type="text">
<!--<button class="btn" type="button">Да!</button>-->
    <hr>
</div>
 <p>Контрагент<p>
<div class="input-append">
    <select id="contr_c.contr_id" name="contr_c.contr_id" class="input-xxlarge">
        @for(contragents<-data){
            <option value="@contragents.contr_id">@contragents.contr_name</option>

        }
    </select>
</div>
	<input id="contract_price" name="contract_price" type="text" class="input-medium" placeholder="Цена контракта">
    <label class="checkbox">
        <input name="big" id="big_check" type="checkbox"> Крупная сделка</label>
        <input name="contract_bigdeal" id="contract_bigdeal" placeholder="Номер протокола" class="input-medium" type="text" disabled> <br>


    <div class="input-append date required" id="dp1" data-date="" data-date-format="dd.mm.yyyy">
        <input id="datepicker" name="contract_date_start" placeholder="Договор от" class="span2 required" size="16" type="text" contenteditable="false">
        <span class="add-on"><i class="icon-th"></i></span>
    </div>
    <div class="input-append date" id="dp2" data-date="" data-date-format="dd.mm.yyyy" >
        <input name="contract_date_end" placeholder="Дата окончания" class="span2" size="16" type="text" contenteditable="false">
        <span class="add-on"><i class="icon-th"></i></span>
    </div>

	<label class="checkbox">
	<input name="contract_prolong" type="checkbox"> Есть ли условие пролонгации</label>
	<input id="status" name="status" type="hidden" value="A">
<br>
 <p>Инициатор договора<p>
    <select id="init_c.user_id" name="init_c.user_id" class="input-xlarge">
        @for(user<-initiator){
            <option value="@user.user_id">@user.user_fio</option>

        }
    </select>
	<br>
    <textarea name="contract_story" rows="5" cols="100" placeholder="Примечания к договору"></textarea>
</fieldset>
<!--Второй шаг-->
<fieldset title="Шаг 2">
<legend>Прикрепление файлов</legend>

<strong>Cкан договора</strong>
<p class="text-info"> <input name="scanname" type='file' id='scanname'>
Загружайте только многостраничные pdf документы</p>


<!--<a class="btn btn-inverse" onclick='scanname.click()'>Прикрепить скан договора</a>-->
<br>
    <strong>Текст договора</strong>
	<p class="text-info"><input name="doc" type='file' id='origfile'>
     Загружайте будут только документы doc, .docx</p>
    <br>

 <strong>Папка хранения</strong><br>
    <select id="papki_c.papki_id" name="papki_c.papki_id" class="input-xlarge">
        @for(papki<-papka){
            <option value="@papki.papki_id">@papki.papki_name</option>

        }
    </select>
<br>
</fieldset>

<!--Третий шаг-->
<fieldset title="Шаг 3">
<legend>Контактное лицо</legend>

	<div class="controls">

        <input name="contacts_c.contact_id" type="hidden">
        <input id="contacts_c.contact_fio" name="contacts_c.contact_fio" placeholder="ФИО" class="input-xxlarge" type="text">
        <input id="contacts_c.contact_tel" name="contacts_c.contact_tel" placeholder="Городской телефон" class="input-xxlarge digits" type="text">
        <input id="contacts_c.contact_mobile"  name="contacts_c.contact_mobile" placeholder="Мобильный телефон" class="input-xxlarge digits" type="text">
        <input id="contacts_c.contact_email" name="contacts_c.contact_email" placeholder="email" class="input-xxlarge email" type="text">
        <input id="contacts_c.contact_dolgn" name="contacts_c.contact_dolgn" placeholder="Должность" class="input-xxlarge" type="text">
        <input id="contacts_c.contact_birth" name="contacts_c.contact_birth" placeholder="Дата рождения (дд/мм/гггг)" class="input-large date" type="text">

    </div>

<div class="form-actions">
<button type="submit" class="btn btn-primary">Подтвердить</button>

</div>
</fieldset>
}

<script type="text/javascript">

       $(document).ready(function()
        {
        $('#dp1').datepicker();
        $('#dp2').datepicker();
        });

			$(function() {
				$('#addForm').stepy({
					backLabel:	'Назад',
					block:		true,
					errorImage:	true,
					nextLabel:	'Вперед',
					titleClick:	true,
					validate:	true,
					finishButton: false
				});
                $('#addForm').validate({
					errorPlacement: function(error, element) {
						$('#addForm div.stepy-error').append(error);
					},

				    rules: {
						'scanname':		'required'
					},

                    messages: {
						'contract_name':			{ required:  'Требуется название договора!'  },
						'email':		            { email: 	 'Invalid e-mail!' },
						'contract_num':		        { required:  'Требуется номер договора!' },
						'scanname':		            { required:  'Требуется прикрепить скан в pdf формате!' },
						'contract_story':		    { required:  'Добавьте краткое описание сути договора в примечении!' },
						'contract_date_start':	    { required:  'Требуется дата договора!' },


					}
			    });
				});


        $("#contract_price").change(function(e)
		{
        var  price = $("#contract_price").val();
        price=price.replace(',', ".");
		$("#contract_price").val(price);
		return false;
		});

        $("#big_check").change(function(e)
        {
        $("#contract_bigdeal").prop('disabled', !$("#big_check").prop("checked"));
        return false;
        });




</script>


}