@(currentPage: com.avaje.ebean.Page[contragents])
@import helper._
@urist{
    <script>
            $(document).ready(function(){

            $("#addForm").validate({
            rules: {
                contr_inn: {
                    maxlength: 10,
                    minlength: 10
                    },
                contr_kpp: {
                    maxlength: 9,
                    minlength: 9
                    },
                contr_bik: {
                    maxlength: 9,
                    minlength: 9
                    },
                contr_rs: {
                    maxlength: 20,
                    minlength: 20
            }
            }
            })
            });
    </script>
    <h2>Контрагенты</h2>
        <div class="control-group">

            <div class="accordion" id="accordion1">
                <div class="accordion-group">

                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
                                Добавить
                        </a>
                    </div>

                    <div id="collapseOne" class="accordion-body collapse out">
                        <div class="accordion-inner">
                            @form(routes.Application.AddContragent(0), 'id -> "addForm"){
                            <div class="controls">
                                <input name="contr_id" type="hidden">
                                <input type="hidden" name="page" value="0">
                                <input id="contr_name" name="contr_name" placeholder="Наименование" class="input-xxlarge required" type="text">
                                <input id="contr_country" name="contr_country" placeholder="Страна" class="input-xxlarge required" type="text">
                                <input id="contr_state" name="contr_state" placeholder="Край/Район" class="input-xxlarge required" type="text">
                                <input id="contr_town"  name="contr_town" placeholder="Город" class="input-xxlarge required" type="text">
                                <input id="contr_street"  name="contr_street" placeholder="Улица" class="input-xxlarge required" type="text">
                                <input id="contr_inn"  name="contr_inn" placeholder="ИНН" class="input-xxlarge minlength('10')  digits required " type="text">
                                <input id="contr_kpp" name="contr_kpp" placeholder="КПП" class="input-xxlarge required digits" type="text">
                                <input id="contr_bik"  name="contr_bik" placeholder="БИК" class="input-xxlarge digits" type="text">
                                <input id="contr_rs"  name="contr_rs" placeholder="Расчетный счет" class="input-xxlarge digits" type="text">
                                <input id="contr_bank"  name="contr_bank" placeholder="Банк контрагента" class="input-xxlarge " type="text">

                                <div class="form-actions">
                                    <button type="submit" form="addForm"  class="btn btn-primary">Добавить</button>
                                    <input class="btn" value="Сбросить" type="reset">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    }
        <div class="control-group">
            <label class="control-label">Поиск</label>
            @form(routes.Application.searchContragent(), 'id -> "SearchForm"){
                <div class="input-append">

                    <input name="param" placeholder="Наименование" class="input-medium" type="text">
                    <button class="btn" type="submit" form="SearchForm" >Поиск</button>
                </div>
            }
            <div class="pagination pagination-centered pagination-small">
                <ul>

                    @for(i<- 0 to currentPage.getTotalPageCount-1){
                        @if(i.equals(currentPage.getPageIndex)){
                            <li class="disabled"><a href="@routes.Application.AddContragentPage(i)">@(i+1)</a></li>
                        }else{<li class="active"><a href="@routes.Application.AddContragentPage(i)">@(i+1)</a></li>}
                    }
                </ul>
            </div>
            <table class="table table-striped table-condensed table-bordered">
                <thead>
                    <tr>

                        <th>Название организации</th>
                        <th>Карточка организации</th>

                    </tr>
                </thead>
                <tbody>

                    @for(contragents<-currentPage.getList){
                        <tr>
                        <td>@contragents.contr_name</td>
                        <td><a href="@routes.Application.EditContragentPage(contragents.contr_id)"><img src="@routes.Assets.at("images/edit.jpg")" height="25" width="25"></a></td>
                        </tr>
                    }

                </tbody>
            </table>
            <div class="pagination pagination-centered pagination-small">
                <ul>

                    @for(i<- 0 to currentPage.getTotalPageCount-1){
                        @if(i.equals(currentPage.getPageIndex)){
                            <li class="disabled"><a href="@routes.Application.AddContragentPage(i)">@(i+1)</a></li>
                        }else{<li class="active"><a href="@routes.Application.AddContragentPage(i)">@(i+1)</a></li>}
                    }
                </ul>
            </div>
        </div>


}