@(currentPage: com.avaje.ebean.Page[dolg], option:List[otdel])
@import helper._
@adm{
    <script>
            $(document).ready(function(){
            $("#addForm").validate();
            });
    </script>
    @form(routes.Application.AddDolg(), 'id->"addForm"){
        <div class="control-group">
            <label class="control-label">Должности</label>
            <div class="accordion" id="accordion1">
                <div class="accordion-group">

                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
                                Добавить
                        </a>
                    </div>

                    <div id="collapseOne" class="accordion-body collapse out">
                        <div class="accordion-inner">
                            <div class="controls">
            <div class="controls">
                <input name="dolg_name" placeholder="Наименование должности" class="input-xxlarge required" type="text">
                <label class="control-label">Выберите отдел</label>
                <select name="otdel_d.otdel_id" class="input-xlarge">
                    @for(otdel<-option){
                      <option value="@otdel.otdel_id">@otdel.otdel_name</option>

                    }
                </select>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Добавить</button>
                    <input class="btn" value="Сбросить" type="reset">
                </div>
            </div>
        </div>
                        </div> </div> </div> </div> </div>
    }

        <div class="control-group">
        <label class="control-label">Список Должностей</label>
        @form(routes.Application.searchDolg(), 'id -> "SearchForm", 'name->"SearchForm"){
        <div class="input-append">
            <input name="param" placeholder="Наименование" class="input-medium" type="text">
            <button class="btn" type="button" form="SearchForm">Поиск</button>
        </div>
        }

        <div class="pagination pagination-centered pagination-small">
            <ul>

                @for(i<- 0 to currentPage.getTotalPageCount-1){
                    @if(i.equals(currentPage.getPageIndex)){
                        <li class="disabled"><a href="@routes.Application.AddDolgPage(i)">@(i+1)</a></li>
                    }else{<li class="active"><a href="@routes.Application.AddDolgPage(i)">@(i+1)</a></li>}
                }
            </ul>
        </div>

        <table class="table table-striped table-condensed table-bordered">
            <thead>
                <tr>

                    <th>Наименование должности</th>
                    <th>Отдел</th>
                    <th>Изменить</th>
                    <th>Удалить</th>
                </tr>
            </thead>
            <tbody>

                @for(dolg<-currentPage.getList){

                    <tr>
                    <td>@dolg.dolg_name</td>
                    <td>@dolg.otdel_d.otdel_name</td>
                    <td><a href="@routes.Application.EditDolgPage(dolg.dolg_id)"><img src="@routes.Assets.at("images/edit.jpg")" height="25" width="25"></a></td>
                    <td><a href="#delModal@dolg.dolg_id" data-toggle="modal" data-target="#delModal@dolg.dolg_id"><img src="@routes.Assets.at("images/basket.jpg")" height="25" width="25"></a></td>
                    </tr>

                        <!--TODO Хреново организованное удаление контакта-->
                    <div id="delModal@dolg.dolg_id" class="modal hide fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-header">
                    <button id="addContactBut" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">Удаление</h3>
                    </div>
                    <div class="modal-body">
                    <div class="warning">Вы уверены, что хотите удалить должность?</div>
                    <div class="modal-footer">
                    <button id="DelCloseBtn" class="btn" data-dismiss="modal" aria-hidden="true">Отмена</button>
                    <a href="@routes.Application.DelDolg(dolg.dolg_id)"><button id="DelContact"  type="submit" class="btn btn-primary">Удалить</button></a>
                    </div>
                    </div>
                    </div>

                }

            </tbody>
        </table>
        <div class="pagination pagination-centered pagination-small">
            <ul>

                @for(i<- 0 to currentPage.getTotalPageCount-1){
                    @if(i.equals(currentPage.getPageIndex)){
                        <li class="disabled"><a href="@routes.Application.AddDolgPage(i)">@(i+1)</a></li>
                    }else{<li class="active"><a href="@routes.Application.AddDolgPage(i)">@(i+1)</a></li>}
                }
            </ul>
        </div>
    </div>
}
