@(id: Int)
@import helper._
@urist{
@form(routes.Application.AddDop(id), 'enctype -> "multipart/form-data", 'id->"addForm"){



        <legend>Дополнительное соглашение к договору №@contracts.find.byId(id).contract_num</legend>


        <div class="input-append">
            <input name="contract_num" placeholder="Номер соглашения" class="input-medium required" type="text">
                <!--<button class="btn" type="button">Да!</button>-->

        </div>
        <input name="contract_d.contract_id" value="@contracts.find.byId(id).contract_id" hidden="true">
        <div class="input-append date required" id="dp1" data-date="12.12.2012" data-date-format="dd.mm.yyyy">
            <input name="contract_date_start" placeholder="Соглашение от" class="span2" size="16" type="text" contenteditable="false">
            <span class="add-on"><i class="icon-th"></i></span>
        </div>





        <legend>Прикрепление файлов</legend>

        <strong>Cкан соглашения</strong>
        <p class="text-info"> <input name="dop_scanname" type='file' id='scanname'>
                Загружайте только многостраничные pdf документы</p>


            <!--<a class="btn btn-inverse" onclick='scanname.click()'>Прикрепить скан договора</a>-->
        <br>
        <strong>Текст соглашения</strong>
        <p class="text-info"><input name="doc" type='file' id='origfile'>
                Загружайте будут только документы doc, .docx</p>
        <br>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Подтвердить</button>

        </div>


    }

<script type="text/javascript">

        $(document).ready(function()
        {
        $('#dp1').datepicker();
        $('#dp2').datepicker();
        });

        $(function() {
        $('#addForm').stepy({
        backLabel:	'Назад',
        block:		true,
        errorImage:	true,
        nextLabel:	'Вперед',
        titleClick:	true,
        validate:	true,
        finishButton: false
        });
        $('#addForm').validate({
        errorPlacement: function(error, element) {
        $('#addForm div.stepy-error').append(error);
        },

        rules: {
        'scanname':		'required'
        },

        messages: {
        'contract_name':			{ required:  'Требуется название договора!'  },
        'email':		            { email: 	 'Invalid e-mail!' },
        'contract_num':		        { required:  'Требуется номер договора!' },
        'scanname':		            { required:  'Требуется прикрепить скан в pdf формате!' },
        'contract_story':		    { required:  'Добавьте краткое описание сути договора в примечении!' },
        'contract_date_start':	    { required:  'Требуется дата договора!' },


        }
        });
        });


        $("#contract_price").change(function(e)
        {
        var  price = $("#contract_price").val();
        price=price.replace(',', ".");
        $("#contract_price").val(price);
        return false;
        });


</script>


}