@(currentPage: com.avaje.ebean.Page[papki])
@import helper._
@urist{
    <script>
            $(document).ready(function(){

            $("#addForm").validate()
            });
    </script>
    <h2>Папки</h2>
        <div class="control-group">

            <div class="accordion" id="accordion1">
                <div class="accordion-group">

                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
                                Добавить
                        </a>
                    </div>

                    <div id="collapseOne" class="accordion-body collapse out">
                        <div class="accordion-inner">
                            @form(routes.Application.AddFolder(), 'id -> "addForm"){
                            <div class="controls">

                                <input type="hidden" name="page" value="0">
                                <input id="papki_name" name="papki_name" placeholder="Наименование" class="input-xxlarge required" type="text">


                                <div class="form-actions">
                                    <button type="submit" form="addForm"  class="btn btn-primary">Добавить</button>
                                    <input class="btn" value="Сбросить" type="reset">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    }
        <div class="control-group">
            <label class="control-label">Поиск</label>
            @form(routes.Application.searchContragent(), 'id -> "SearchForm"){
                <div class="input-append">

                    <input name="param" placeholder="Наименование" class="input-medium" type="text">
                    <button class="btn" type="submit" form="SearchForm" >Поиск</button>
                </div>
            }
            <div class="pagination pagination-centered pagination-small">
                <ul>

                    @for(i<- 0 to currentPage.getTotalPageCount-1){
                        @if(i.equals(currentPage.getPageIndex)){
                            <li class="disabled"><a href="@routes.Application.AddFolderPage(i)">@(i+1)</a></li>
                        }else{<li class="active"><a href="@routes.Application.AddFolderPage(i)">@(i+1)</a></li>}
                    }
                </ul>
            </div>
            <table class="table table-striped table-condensed table-bordered">
                <thead>
                    <tr>

                        <th>Наименование папки</th>
                        <th>Редактировать</th>

                    </tr>
                </thead>
                <tbody>

                    @for(papki<-currentPage.getList){
                        <tr>
                        <td><a href="@routes.Application.ViewPapka(0, papki.papki_id)">@papki.papki_name</a></td>
                        <td><a href="@routes.Application.EditFolderPage(papki.papki_id)"><img src="@routes.Assets.at("images/edit.jpg")" height="25" width="25"></a></td>
                        </tr>
                    }

                </tbody>
            </table>
            <div class="pagination pagination-centered pagination-small">
                <ul>

                    @for(i<- 0 to currentPage.getTotalPageCount-1){
                        @if(i.equals(currentPage.getPageIndex)){
                            <li class="disabled"><a href="@routes.Application.AddFolderPage(i)">@(i+1)</a></li>
                        }else{<li class="active"><a href="@routes.Application.AddFolderPage(i)">@(i+1)</a></li>}
                    }
                </ul>
            </div>
        </div>


}