@(currentPage: com.avaje.ebean.Page[otdel])
@import helper._
@adm{
    <script>
            $(document).ready(function(){
            $("#addForm").validate();
            });
    </script>
@form(routes.Application.AddOtdel(), 'id->"addForm"){

<div class="control-group">
    <label class="control-label">Отделы</label>
    <div class="accordion" id="accordion1">
        <div class="accordion-group">

            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
                        Добавить
                </a>
            </div>

            <div id="collapseOne" class="accordion-body collapse out">
                <div class="accordion-inner">
                    <div class="controls">
    <div class="controls">
        <input name="otdel_name" placeholder="Наименование отдела" class="input-xxlarge required" type="text">
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Добавить</button>
            <input class="btn" value="Сбросить" type="reset">
        </div>
    </div>
</div>
                </div></div></div></div></div>

}
<div class="control-group">
    <label class="control-label">Список отделов</label>
    @form(routes.Application.searchOtdel(), 'id -> "SearchForm", 'name->"SearchForm"){
    <div class="input-append">

        <input name="param" placeholder="Наименование" class="input-medium" type="text">
        <button class="btn" type="submit" form="SearchForm" >Поиск</button>
    </div>
    }
    <div class="pagination pagination-centered pagination-small">
        <ul>

            @for(i<- 0 to currentPage.getTotalPageCount-1){
                @if(i.equals(currentPage.getPageIndex)){
                    <li class="disabled"><a href="@routes.Application.AddOtdelPage(i)">@(i+1)</a></li>
                }else{<li class="active"><a href="@routes.Application.AddOtdelPage(i)">@(i+1)</a></li>}
            }
        </ul>
    </div>

    <table class="table table-striped table-condensed table-bordered">
        <thead>
        <tr>

            <th>Наименование отдела</th>
            <th>Изменить</th>
            <th>Удалить</th>
        </tr>
        </thead>
        <tbody>


        @for(otdel<-currentPage.getList){
        <tr>
            <td>@otdel.otdel_name</td>
            <td><a href="@routes.Application.EditOtdelPage(otdel.otdel_id)"><img src="@routes.Assets.at("images/edit.jpg")" height="25" width="25"></a></td>
            <td><a href="#delModal@otdel.otdel_id" data-toggle="modal" data-target="#delModal@otdel.otdel_id"><img src="@routes.Assets.at("images/basket.jpg")" height="25" width="25"></a></td>
            </tr>

                <!--TODO Хреново организованное удаление контакта-->
            <div id="delModal@otdel.otdel_id" class="modal hide fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
            <button id="addContactBut" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Удаление</h3>
            </div>
            <div class="modal-body">
            <div class="warning">Вы уверены, что хотите удалить отдел?</div>
            <div class="modal-footer">
            <button id="DelCloseBtn" class="btn" data-dismiss="modal" aria-hidden="true">Отмена</button>
            <a href="@routes.Application.DelOtdel(otdel.otdel_id)"><button id="DelContact"  type="submit" class="btn btn-primary">Удалить</button></a>
            </div>
            </div>
            </div>
        }

        </tbody>
    </table>

    <div class="pagination pagination-centered pagination-small">
        <ul>

            @for(i<- 0 to currentPage.getTotalPageCount-1){
                @if(i.equals(currentPage.getPageIndex)){
                    <li class="disabled"><a href="@routes.Application.AddOtdelPage(i)">@(i+1)</a></li>
                }else{<li class="active"><a href="@routes.Application.AddOtdelPage(i)">@(i+1)</a></li>}
            }
        </ul>
    </div>

</div>
}
