@(currentPage: com.avaje.ebean.Page[user], option:List[otdel], dolgnosti:List[dolg], stat:List[status])
@import helper._
@adm{
    <script>
            $(document).ready(function(){
            $("#addForm").validate();
            });
    </script>

        <div class="control-group">
            <label class="control-label">Пользователи</label>
           <div class="accordion" id="accordion1">
           <div class="accordion-group">

               <div class="accordion-heading">
                   <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
                           Добавить
                   </a>
               </div>

               <div id="collapseOne" class="accordion-body collapse out">
                   <div class="accordion-inner">
         @form(routes.Application.AddUser(), 'id->"addForm"){
            <div class="controls">
                <input name="user_id" type="hidden">
                <label class="control-label">Логин</label>
                <input name="user_name" placeholder="Логин" class="input-xxlarge required" type="text">
                <label class="control-label">ФИО</label>
                <input name="user_fio" class="input-xxlarge required" type="text" >
                <label class="control-label">Пароль</label>
                <input name="user_pass" class="input-xxlarge required" type="password">
                <label class="control-label">Уровень доступа</label>
                <select name="status_u.status_id" class="input-xlarge">
                    @for(status<-stat){
                        <option value="@status.status_id">@status.status_name</option>
                    }
                </select>
                <label class="control-label">Должность</label>
                <select name="dolg_u.dolg_id" class="input-xlarge">
                    @for(dolg<-dolgnosti){
                         <option value="@dolg.dolg_id">@dolg.dolg_name (@dolg.otdel_d.otdel_name)</option>
                         }
                </select>
                <label class="control-label">Уровень доступа</label>

                <label class="control-label">email</label>
                <input name="email" placeholder="email" class="input-xxlarge email required" type="text">
                <label class="control-label">Телефон</label>
                <input name="phone"placeholder="телефон" class="input-xxlarge digits" type="text">

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Изменить</button>
                    <input class="btn" value="Сбросить" type="reset">
                </div>
            </div>
        </div>
               </div>
            </div>

    }
    <div class="control-group">
        <label class="control-label">Список Сотрудников</label>
        @form(routes.Application.searchUser(), 'name->"SearchForm"){
        <div class="input-append">
            <input name="param" placeholder="ФИО" class="input-medium" type="text">
            <button class="btn" type="button" form="SearchForm">Поиск</button>
        </div>
        }

        <div class="pagination pagination-centered pagination-small">
            <ul>

                @for(i<- 0 to currentPage.getTotalPageCount-1){
                    @if(i.equals(currentPage.getPageIndex)){
                        <li class="disabled"><a href="@routes.Application.AddUserPage(i)">@(i+1)</a></li>
                    }else{<li class="active"><a href="@routes.Application.AddUserPage(i)">@(i+1)</a></li>}
                }
            </ul>
        </div>

        <table class="table table-striped table-condensed table-bordered">
            <thead>
                <tr>

                    <th>ФИО</th>
                    <th>Отдел</th>
                    <th>Изменить</th>
                    <th>Статус</th>
                </tr>
            </thead>
            <tbody>

                @for(user<-currentPage.getList){

                    <tr>
                    <td>@user.user_fio</td>
                    <td>@user.dolg_u.otdel_d.otdel_name</td>
                    <td><a href="@routes.Application.EditUserPage(user.user_id)"><img src="@routes.Assets.at("images/edit.jpg")" height="25" width="25"></a></td>
                    @if(user.is_Active=='A'){
                    <td><a href="#delModal@user.user_id" data-toggle="modal" data-target="#delModal@user.user_id"><img title="Активный" src="@routes.Assets.at("images/green-circle-md.jpg")" height="25" width="25"></a></td>
                        }else{
                     <td><a href="#delModal@user.user_id" data-toggle="modal" data-target="#delModal@user.user_id"><img title="Закрытый" src="@routes.Assets.at("images/red-circle-md.png")" height="25" width="25"></a></td>

                        }
                    </tr>

                        <!--TODO Хреново организованное удаление контакта-->
                    <div id="delModal@user.user_id" class="modal hide fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-header">
                    <button id="addContactBut" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">Удаление</h3>
                    </div>
                    <div class="modal-body">
                    <div class="warning">Вы уверены, что хотите сменить статус пользователя?</div>
                    <div class="modal-footer">
                    <button id="DelCloseBtn" class="btn" data-dismiss="modal" aria-hidden="true">Отмена</button>
                    <a href="@routes.Application.DelUser(user.user_id)"><button id="DelContact"  type="submit" class="btn btn-primary">Сменить</button></a>
                    </div>
                    </div>
                    </div>
                }

            </tbody>
        </table>
        <div class="pagination pagination-centered pagination-small">
            <ul>

                @for(i<- 0 to currentPage.getTotalPageCount-1){
                    @if(i.equals(currentPage.getPageIndex)){
                        <li class="disabled"><a href="@routes.Application.AddUserPage(i)">@(i+1)</a></li>
                    }else{<li class="active"><a href="@routes.Application.AddUserPage(i)">@(i+1)</a></li>}
                }
            </ul>
        </div>
    </div>
</div>
</div>
}