@(page: Html)
@import helper._
@main("Администрирование"){
    <div class="container">
        <div class="container">
            <div class="row-fluid"></div>
        </div>
        <div class="container">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="brand">Договора онлайн</a>
                        <ul class="nav pull-right">

                            <li class="pull-right">
                                <a href="@routes.Application.logout()" class="active">Выйти</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
<div class="container">
<div class="row">
<div class="span4">
<dl>
<dt><a href="@routes.Application.AddOtdelPage()">Отделы</a></dt>
<dd>Администрирование отделов компании
<br>
</dd>
<dt><a href="@routes.Application.AddDolgPage()">Должности</a>
<br>
</dt>
<dd>Редактирование должностей</dd>
<dt><a href="@routes.Application.AddUserPage()">Пользователи</a></dt>
<dd>Администрирование пользователей</dd>

</dl>
</div>
<div class="span8">

  @page
</div>
</div>
</div>
</div>
</div>
}