@(Id: Int)
@import helper._
@adm{
    <script>
            $(document).ready(function(){
            $("#addForm").validate();
            });
    </script>
    <!-- добавление отдела -->

    @form(routes.Application.EditDolg(), 'id->"addForm"){
        <div class="control-group">
            <label class="control-label">Редактирование должности</label>
            <div class="controls">
                <input name="dolg_id" value="@Id" type="hidden">
                <input name="dolg_name" placeholder="Новое наименование должности" class="input-xxlarge required" type="text">
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Добавить</button>
                    <input class="btn" value="Сбросить" type="reset">
                </div>
            </div>
        </div>

    }

}