@(Id: Int)
@import helper._
@urist{
    <script>
            $(document).ready(function(){

            $("#editForm").validate({
            rules: {
            contr_inn: {
            maxlength: 10,
            minlength: 10
            },
            contr_kpp: {
            maxlength: 9,
            minlength: 9
            },
            contr_bik: {
            maxlength: 9,
            minlength: 9
            },
            contr_rs: {
            maxlength: 20,
            minlength: 20
            }
            }
            })
            });
    </script>
    @form(routes.Application.EditContragent(), 'id->"editForm"){
<h4>Редактирование контрагента - @contragents.find.byId(Id).contr_name</h4>
<div class="controls">

<input type="hidden" name="contr_id" value="@Id">
<input id="contr_name" name="contr_name" value="@contragents.find.byId(Id).contr_name" placeholder="Наименоваение" class="input-xxlarge required" type="text">
<input id="contr_country" name="contr_country" value="@contragents.find.byId(Id).contr_country"  placeholder="Страна" class="input-xxlarge required" type="text">
<input id="contr_state" name="contr_state" value="@contragents.find.byId(Id).contr_state" placeholder="Край/Район" class="input-xxlarge required" type="text">
<input id="contr_town"  name="contr_town" value="@contragents.find.byId(Id).contr_town" placeholder="Город" class="input-xxlarge required" type="text">
<input id="contr_street"  name="contr_street" value="@contragents.find.byId(Id).contr_street" placeholder="Улица" class="input-xxlarge required" type="text">
<input id="contr_inn"  name="contr_inn" value="@contragents.find.byId(Id).contr_inn" placeholder="ИНН" class="input-xxlarge digits required" type="text">
<input id="contr_kpp" name="contr_kpp" value="@contragents.find.byId(Id).contr_kpp" placeholder="КПП" class="input-xxlarge digits required" type="text">
<input id="contr_bik"  name="contr_bik" value="@contragents.find.byId(Id).contr_bik" placeholder="БИК" class="input-xxlarge digits" type="text">
<input id="contr_rs"  name="contr_rs" value="@contragents.find.byId(Id).contr_rs" placeholder="Расчетный счет" class="input-xxlarge digits" type="text">
<input id="contr_bank"  name="contr_bank" value="@contragents.find.byId(Id).contr_bank" placeholder="Банк контрагента" class="input-xxlarge" type="text">

<div class="form-actions">
<button type="submit" class="btn btn-primary">Изменить</button>
<input class="btn" value="Сбросить" type="reset">
</div>
</div>
    }
}
