@(Id: Int)
@import helper._
@urist{
    <script>
            $(document).ready(function(){

            $("#editForm").validate()
            });
    </script>
    <h2>Папки</h2>
        <div class="control-group">


                            @form(routes.Application.EditFolder(), 'id -> "editForm"){
                            <div class="controls">

                                <input type="hidden" name="papki_id" value="@papki.find.byId(Id).papki_id">
                                <input id="papki_name" value="@papki.find.byId(Id).papki_name" name="papki_name" placeholder="Наименование" class="input-xxlarge required" type="text">


                                <div class="form-actions">
                                    <button type="submit" form="editForm"  class="btn btn-primary">Изменить</button>
                                    <input class="btn" value="Сбросить" type="reset">
                                </div>
                            </div>
                        </div>

    }
        }