@(Id: Int, stat:List[status], dolgnosti:List[dolg])
@import helper._
@adm{
    <script>
            $(document).ready(function(){
            $("#editForm").validate();
            });
    </script>

    <!-- добавление отдела -->

    @form(routes.Application.EditUser(), 'id->"editForm"){
        <div class="control-group">
            <label class="control-label">Редактирование пользователя</label>
            <div class="controls">
                <input name="user_id" value="@Id" type="hidden">
                <label class="control-label">Логин</label>
                <input name="user_name" value="@user.find.byId(Id).user_name" placeholder="Логин" class="input-xxlarge required" type="text">
                <label class="control-label">ФИО</label>
                <input name="user_fio" value="@user.find.byId(Id).user_fio" placeholder="ФИО" class="input-xxlarge required" type="text">
                <label class="control-label">Пароль</label>
                <input name="user_pass" value="@user.find.byId(Id).user_pass" placeholder="Пароль" class="input-xxlarge required" type="password">
                <label class="control-label">Должность</label>
                <select name="dolg_id" class="input-xlarge">
                    @for(dolg<-dolgnosti){
                        @if(dolg.dolg_id==user.find.byId(Id).dolg_u.dolg_id){
                            <option selected="selected" value="@dolg.dolg_id">@dolg.dolg_name</option>
                        }
                        @if(dolg.dolg_id!=user.find.byId(Id).dolg_u.dolg_id){
                            <option value="@dolg.dolg_id">@dolg.dolg_name</option>

                        }
                    }
                </select>
                <label class="control-label">Уровень доступа</label>
                <select name="status_id" class="input-xlarge">
                    @for(status<-stat){
                        @if(status.status_id==user.find.byId(Id).status_u.status_id){
                        <option selected="selected" value="@status.status_id">@status.status_name</option>
                        }
                        @if(status.status_id!=user.find.byId(Id).status_u.status_id){
                        <option value="@status.status_id">@status.status_name</option>
                         }
                    }
                </select>

                <label class="control-label">email</label>
                <input name="email" value="@user.find.byId(Id).email" placeholder="email" class="input-xxlarge email reqiured" type="text">
                <label class="control-label">Телефон</label>
                <input name="phone" value="@user.find.byId(Id).phone" placeholder="телефон" class="input-xxlarge digits" type="text">

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Изменить</button>
                    <input class="btn" value="Сбросить" type="reset">
                </div>
            </div>
        </div>

            }

}>