@(Id: Int)
@import helper._
@adm{
    <script>
            $(document).ready(function(){
            $("#editForm").validate();
            });
    </script>

                            <!-- добавление отдела -->

                            @form(routes.Application.EditOtdel(), 'id->"editForm"){
                                <div class="control-group">
                                    <label class="control-label">Редактирование отдела</label>
                                    <div class="controls">
                                        <input name="otdel_id" value="@Id" type="hidden">
                                        <input name="otdel_name" placeholder="Новое наименование отдела" class="input-xxlarge required" type="text">
                                        <div class="form-actions">
                                            <button type="submit" class="btn btn-primary">Изменить</button>
                                            <input class="btn" value="Сбросить" type="reset">
                                        </div>
                                    </div>
                                </div>

                            }

}