@(Id: Int)
@import helper._
@urist{
    <script>
            $(document).ready(function(){
            $("#editForm").validate();
            });
    </script>
    @form(routes.Application.EditContact(), 'id->"editForm"){
        <h4>Редактирование контакта - @contacts.find.byId(Id).contact_fio</h4>
        <div class="controls">
            <input type="hidden" name="contact_id" value="@Id">
            <input id="contact_fio" name="contact_fio" value="@contacts.find.byId(Id).contact_fio" placeholder="ФИО" class="input-xxlarge" type="text">
            <input id="contact_tel" name="contact_tel" value="@contacts.find.byId(Id).contact_tel" placeholder="Городской телефон" class="input-xxlarge digits" type="text">
            <input id="contact_mobile"  name="contact_mobile" value="@contacts.find.byId(Id).contact_mobile" placeholder="Мобильный телефон" class="input-xxlarge digits" type="text">
            <input id="contact_email" name="contact_email" value="@contacts.find.byId(Id).contact_email" placeholder="email" class="input-xxlarge email" type="text">
            <input id="contact_dolgn" name="contact_dolgn" value="@contacts.find.byId(Id).contact_dolgn" placeholder="Должность" class="input-xxlarge" type="text">
            <input id="contact_birth" name="contact_birth" value="@if(contacts.find.byId(Id).contact_birth!=null){@contacts.find.byId(Id).contact_birth.format("dd/MM/yyyy")}" placeholder="Дата рождения (дд/мм/гггг)" class="input-large date" type="text">

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Изменить</button>
                <input class="btn" value="Сбросить" type="reset">
            </div>
        </div>
    }
}