@(p: Int)
<!-- если mes 1 то не показываем ошибку логина, если 2 -то ошибка -->
@import helper._
@main("ЮМЭК: Договорная работа") {
    <script>
            $(document).ready(function(){
            $("#loginForm").validate();
            });
    </script>
    <div class="container login archive" >
        <div class="row" style="vertical-align:middle">
            <div class="span3"></div>
            <div class="span6">
                <div class="well">
                    <legend>Вход в систему управления договорами</legend>
                    @form(routes.Application.login(), 'id->"loginForm"){
                        @if(p==1){
                        <div class="alert alert-error" hidden>
                                   }else{
                            <div class="alert alert-error">
                        }

                        <a class="close"  data-dismiss="alert" href="#">x</a>Неверное имя пользователи или пароль!
                        </div>
                        <input class="span3 required" placeholder="Имя пользователя" type="text" name="user_name">
                        <input class="span3 required" placeholder="Пароль" type="password" name="user_pass">
                        <br>
                        <button class="btn-info btn" type="submit">Войти</button>
                    }
                </div></div>
                <br>

            </div>
            <div class="span3"> </div>

    </div>
   </div>


}
