@main("Договорная работа") {

<div class="container">
    <div class="container">
        <div class="row-fluid"></div>
    </div>
    <div class="container">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="@routes.Application.index()">Договора онлайн</a>
                    <ul class="nav">
                        <li>
                            <a href="#" class="active">Че нить</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="span4">
                    <dl>
                        <dt>Item 1</dt>
                        <dt>Item 2</dt>
                        <dt>Item 3</dt>
                    </dl>
                </div>
                <div class="span8">
                    <p>Facere fugiat tenetur ullamco quidem provident minima et molestiae aute
                        accusantium nulla delectus ratione anim, iusto minus sequi tenetur in natus
                        similique quasi. Qui nisi possimus cumque possimus eiusmod iure culpa cumque
                        tempor aliquam repudiandae autem sapiente quisquam ex officia assumenda
                        ullam corrupti voluptatum ex impedit temporibus sequi earum commodi. Quos
                        ratione magna fuga rerum quibusdam incididunt fuga rerum aspernatur do
                        eaque libero cum cillum commodi iure, exercitation similique dolorum modi
                        nulla minus ipsum alias facilis, eaque distinctio error quaerat.</p>
                    <p>Excepteur eligendi voluptates voluptas porro totam earum, irure adipisci
                        quisquam nulla consequatur magnam sit exercitationem totam necessitatibus
                        do. Quisquam quos maxime a fugit exercitation rem adipisicing autem autem
                        necessitatibus eu non nostrud elit, culpa dolore quod laborum occaecati
                        soluta. Molestiae anim aspernatur quisquam ex ad doloremque enim vero repudiandae
                        eveniet sit error vero quaerat laboriosam excepturi adipisicing. Odit quaerat
                        provident eligendi ab ab tempore sit veniam maiores sit irure, modi voluptatem
                        eveniet deserunt in aliqua in nemo eos, aperiam neque unde tempor.</p>
                    <p>Dolore atque occaecat blanditiis doloribus neque veritatis iure mollitia
                        ipsa saepe molestias natus ipsum magni sit sequi laborum quis ullam. Voluptates
                        occaecat amet eveniet nesciunt, nostrud delectus atque, sequi consectetur
                        voluptas error tempore. Inventore maiores explicabo consequatur corrupti
                        dolor, reprehenderit odit, odio porro, similique facilis consectetur. Ratione
                        do amet occaecati aliquid eiusmod incidunt praesentium, enim sunt rem necessitatibus
                        iure voluptas, consequat autem laudantium aperiam iusto natus in dicta
                        provident placeat impedit dicta aliqua iste aut.</p>
                </div>
            </div>
        </div>
    </div>

</div>
}
