@(images: String)
@import helper._
@main("Договорная работа") {

    <div class="container">
        <div class="hero-unit">
            <h1>Договор онлайн
                <br>
            </h1>
            <p>Удобный сервис по управлению договорами компании
                <br>
            </p>
            <p>
                <a class="btn btn-primary btn-large" href="@routes.Application.more()">Узнать больше</a>
            </p>



        </div>
        <div class="container">
            <div class="row-fluid">
                <div class="span4">
                    @form(routes.Application.login()){
                        <div class="control-group">
                            <div class="controls">
                                <input name="user_name" placeholder="Логин" class="input-xlarge" type="text">
                                <input name="user_pass" placeholder="Пароль" class="input-xlarge" type="text">
                                <div class="form-actions">
                                    <button type="submit" class="btn btn-primary">Submit</button>

                                    <input class="btn" value="Сбросить" type="reset">
                                    <p><a href="@routes.Application.register()">регистрация</a></p>
                                </div>
                            </div>
                        </div>
                    }

                </div>
                <div class="span8">
                    <h3>Новости сервиса
                        <br>
                    </h3>
                    <div class="row-fluid">
                        <div class="span4">
                            <div class="well">
                                <p>01.01.13</p>
                            </div>
                        </div>
                        <div class="span8">
                            <p>Sequi lorem sed ducimus modi, a et quos quidem dolor quae, possimus nemo
                                fugit. Lorem fugit beatae dolor exercitation at voluptate, eaque consequatur
                                mollit laudantium illo officia veritatis, asperiores deleniti, asperiores
                                est minus officiis. Accusamus officiis quis quia quisquam, eiusmod, sapiente
                                nostrum suscipit adipisicing. Aut dolorem quod molestias optio, velit,
                                temporibus provident iure adipisci voluptatibus proident adipisicing assumenda
                                eu ea veniam eveniet nostrum omnis.</p>
                            <p>Veritatis deleniti dolore nostrum dolor reiciendis, delectus fuga esse
                                ducimus sit deserunt occaecat quae corporis optio magnam illo dolor minima.
                                Accusamus ab numquam laboriosam aliquid ullamco dolore occaecati explicabo,
                                voluptatibus ratione anim totam. Doloremque minim vel illo non quidem quo
                                enim praesentium rerum ut odio suscipit recusandae fuga assumenda et excepturi
                                suscipit minus perspiciatis irure, occaecat vitae eius veniam. Voluptatibus
                                distinctio anim est velit quo, cupiditate cupiditate cillum voluptatum
                                duis officia asperiores exercitationem omnis eaque, ullam lorem ipsum minima
                                amet commodo consequatur veniam assumenda doloribus.</p>
                            <p>Minus deleniti nulla sed consequatur dolor tempore, sed quasi aut ab consequuntur
                                provident tempore dicta, eveniet, ratione expedita voluptate dicta. Nam
                                animi eiusmod quaerat velit ducimus, corrupti amet numquam cupidatat, rem
                                necessitatibus laborum. Quidem eius quas eaque voluptatum alias doloribus,
                                eum, repudiandae nesciunt repudiandae. Aliquip consequat illum quod iusto
                                vel aliquid tempor excepteur nisi, tempore porro quibusdam laborum do.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <p class="pull-left text-success">Наши партнеры
                <br>
            </p>
        </div>
        <div class="container">
            <div class="row-fluid">
                <div style="height: 100px" class="span3"><img src="@images"></div>
                <div style="height: 100px" class="span3"></div>
                <div style="height: 100px" class="span3"></div>
                <div style="height: 100px" class="span3"></div>
            </div>
        </div>

    </div>
}
