@(userForm: Form[user])
@import helper._
@main("Договорная работа") {
<div class="container">
    <div class="container">
        <div class="row-fluid"></div>
    </div>
    <div class="container">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="@routes.Application.index()">Договора онлайн</a>
                    <ul class="nav">
                        <li>
                            <a href="#" class="active" >Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="span4">
                    <h4>Введите свои учетные данные
                        <br>
                    </h4>
                </div>
                <div class="span8">
                    @form(routes.Application.register()){
                        <div class="control-group">
                            <fieldset>
                            <div class="controls">
                                @inputText(userForm("user_name"), '_label -> "", 'placeholder->"Логин пользователя", '_class->"input-xlarge", '_type->"text", '_showConstraints -> false)

                                @inputText(userForm("user_pass"), '_label -> "", 'placeholder->"Пароль", '_class->"input-xlarge", '_type->"text", '_showConstraints -> false)

                                @inputText(userForm("user_fio"), '_label -> "", 'placeholder->"ФИО", '_class->"input-xlarge", '_type->"text", '_showConstraints -> false)

                                @inputText(userForm("email"), '_label -> "", 'placeholder->"email", '_class->"input-xlarge", '_type->"email", '_showConstraints -> false)

                                @inputText(userForm("phone"), '_label -> "", 'placeholder->"Телефон", '_class->"input-xlarge", '_type->"text", '_showConstraints -> false)


                                <div class="form-actions">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <input class="btn" value="Reset" type="reset">
                                </div>

                            </div>
                            </fieldset>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>

</div>
}