
@import helper._
@urist{
 <script>
            $(document).ready(function(){
            $("#addForm").validate();
            });
    </script>
    <h2>Отчеты</h2>
@form(routes.Application.GetXLS()){

    <p>Заключен в период</p>
    <div class="input-append date" id="dp1" data-date="12.02.2012" data-date-format="dd.mm.yyyy" >
        <input name="contract_date_start" placeholder="С" class="span2" size="16" type="text" contenteditable="false">
        <span class="add-on"><i class="icon-th"></i></span>
    </div>
    <div class="input-append date" id="dp2" data-date="12.02.2012" data-date-format="dd.mm.yyyy" >
        <input name="contract_date_end" placeholder="По" class="span2" size="16" type="text" contenteditable="false">
        <span class="add-on"><i class="icon-th"></i></span>
    </div>

    <p>Срок договора до</p>
    <div class="input-append date" id="dp3" data-date="12.02.2012" data-date-format="dd.mm.yyyy" >
        <input name="contract_ends" placeholder="Дата" class="span2" size="16" type="text" contenteditable="false">
        <span class="add-on"><i class="icon-th"></i></span>
    </div>


    <div class="form-actions">
        <button  type="submit" class="btn btn-primary">Выгрузить в Excel</button>
        <input class="btn" value="Сбросить" type="reset">
    </div>
}
<script type="text/javascript">
        $(document).ready(function()
        {
        $('#dp1').datepicker();
        $('#dp2').datepicker();
        $('#dp3').datepicker();
        });
</script>

}