@(currentPage: com.avaje.ebean.Page[contracts], papka:List[papki])
@import helper._
@userscab{
    <script>
            $(document).ready(function(){
            $("#searchForm").validate();
            });
    </script>

    <div class="control-group">
        <label class="control-label">Список договоров</label>

        <div class="accordion" id="accordion1">
            <div class="accordion-group">

                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
                            расширенный поиск
                    </a>
                </div>

                <div id="collapseOne" class="accordion-body collapse out">
                    <div class="accordion-inner">
                        <div class="controls">
                            @form(routes.Application.FullSearchDoc(), 'id->"searchForm"){
                                <input id="contract_num" name="contract_num" placeholder="Номер договора" class="input-large" type="text">
                                <input id="contract_name" name="contract_name" placeholder="наименование договора" class="input-xxlarge" type="text">
                                <input id="contr_name" name="contr_name" placeholder="Контрагент" class="input-xxlarge" type="text">
                                <input name="papki_id" value="0" hidden>
                                <input type="hidden" name="status" value="A">
                                <!--<label class="radio">
                                    <input type="radio" name="status" id="optionsRadios1" value="A" checked>
                                        Действующие
                                </label>
                                <label class="radio">
                                    <input type="radio" name="status" id="optionsRadios2" value="I">
                                        Расторгнутые
                                </label>-->
                                <p>Заключен в период</p>
                                <!--TODO фигня с валидацией даты-->
                                <div class="input-append date" id="dp1" data-date="12.02.2012" data-date-format="dd.mm.yyyy" >
                                    <input name="contract_date_start" placeholder="с" class="span2 date" size="16" type="text">
                                    <span class="add-on"><i class="icon-th"></i></span>
                                </div>
                                <div class="input-append date" id="dp2" data-date="12.02.2012" data-date-format="dd.mm.yyyy" >
                                    <input name="contract_date_end" placeholder="по" class="span2 date" size="16" type="text">
                                    <span class="add-on"><i class="icon-th"></i></span>
                                </div>

                                <div class="form-actions">
                                    <button  type="submit" class="btn btn-primary">Поиск</button>
                                    <input class="btn" value="Сбросить" type="reset">
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination pagination-centered pagination-small">
            <ul>

                @for(i<- 0 to currentPage.getTotalPageCount-1){
                    @if(i.equals(currentPage.getPageIndex)){
                        <li class="disabled"><a href="@routes.Application.SearchDoc(i)">@(i+1)</a></li>
                    }else{<li class="active"><a href="@routes.Application.SearchDoc(i)">@(i+1)</a></li>}
                }
            </ul>
        </div>
        <table class="table table-striped table-condensed table-bordered">
            <thead>
                <tr>
                    <th>Номер договора</th>
                    <th>Наименование договора</th>
                    <th>Контрагент</th>
                    <th>Дата</th>

                </tr>
            </thead>
            <tbody>

                @for(contracts<-currentPage.getList){

                    <tr>
                    <td>@contracts.contract_num</td>
                    <td><a href="@routes.Application.ViewDocUserPage(contracts.contract_id)">@contracts.contract_name</a></td>
                    <td>@contracts.contr_c.contr_name</td>
                    <td>@contracts.contract_date_start.format("dd.MM.yyyy")</td>
                    </tr>
                }

            </tbody>
        </table>
        <div class="pagination pagination-centered pagination-small">
            <ul>
                @for(i<- 0 to currentPage.getTotalPageCount-1){
                    @if(i.equals(currentPage.getPageIndex)){
                        <li class="disabled"><a href="@routes.Application.SearchDoc(i)">@(i+1)</a></li>
                    }else{<li class="active"><a href="@routes.Application.SearchDoc(i)">@(i+1)</a></li>}
                }</ul>
        </div>
    </div>

    <script type="text/javascript">
            $(document).ready(function()
            {
            $('#dp1').datepicker();

            $('#dp2').datepicker();
            });
    </script>

}