@(currentPage: com.avaje.ebean.Page[contracts], papka:List[papki])
@import helper._
@urist{

    <div class="control-group">
        <h2>Список договоров</h2>

        <div class="accordion" id="accordion1">
            <div class="accordion-group">

                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
                           расширенный поиск
                    </a>
                </div>

                <div id="collapseOne" class="accordion-body collapse out">
                    <div class="accordion-inner">
                        <div class="controls">
                           @form(routes.Application.FullSearchDoc()){
                            <input id="contract_num" name="contract_num" placeholder="Номер договора" class="input-large" type="text">
                            <input id="contract_name" name="contract_name" placeholder="Наименование договора" class="input-xxlarge" type="text">
                            <input id="contr_name" name="contr_name" placeholder="Контрагент" class="input-xxlarge" type="text">
                               <select id="papki_id" name="papki_id" class="input-xlarge">
                                   <option value="0">---Все папки---</option>
                                   @for(papki<-papka){
                                       <option value="@papki.papki_id">@papki.papki_name</option>

                                   }
                               </select>
                               <input type="hidden" name="status" value="A">

                            <p>Заключен в период</p>
                            <div class="input-append date" id="dp1" data-date="12.02.2012" data-date-format="dd.mm.yyyy" >
                                <input name="contract_date_start" placeholder="С" class="span2" size="16" type="text" contenteditable="false">
                                <span class="add-on"><i class="icon-th"></i></span>
                            </div>
                            <div class="input-append date" id="dp2" data-date="12.02.2012" data-date-format="dd.mm.yyyy" >
                                <input name="contract_date_end" placeholder="По" class="span2" size="16" type="text" contenteditable="false">
                                <span class="add-on"><i class="icon-th"></i></span>
                            </div>

                               <p>Срок договора до</p>
                               <div class="input-append date" id="dp3" data-date="12.02.2012" data-date-format="dd.mm.yyyy" >
                                   <input name="contract_ends" placeholder="Дата" class="span2" size="16" type="text" contenteditable="false">
                                   <span class="add-on"><i class="icon-th"></i></span>
                               </div>


                            <div class="form-actions">
                                <button  type="submit" class="btn btn-primary">Поиск</button>
                                <input class="btn" value="Сбросить" type="reset">
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            </div>

        <div class="pagination pagination-centered pagination-small">
            <ul>

              @for(i<- 0 to currentPage.getTotalPageCount-1){
                @if(i.equals(currentPage.getPageIndex)){
                <li class="disabled"><a href="@routes.Application.SearchDoc(i)">@(i+1)</a></li>
                    }else{<li class="active"><a href="@routes.Application.SearchDoc(i)">@(i+1)</a></li>}
                }
            </ul>
        </div>
        <table class="table table-striped table-condensed table-bordered">
            <thead>
                <tr>
                    <th>Номер договора</th>
                    <th>Наименование договора</th>
                    <th>Контрагент</th>
                    <th>Дата</th>

                    <th>Удалить договор</th>
                </tr>
            </thead>
            <tbody>

                @for(contracts<-currentPage.getList){

                    <tr>
                    <td>@contracts.contract_num</td>
                    <td><a href="@routes.Application.ViewDocPage(contracts.contract_id)">@contracts.contract_name</a></td>
                    <td>@contracts.contr_c.contr_name</td>
                    <td>@contracts.contract_date_start.format("dd.MM.yyyy")</td>
                    <td><a href="#delModal@contracts.contract_id" data-toggle="modal" data-target="#delModal@contracts.contract_id"><img src="@routes.Assets.at("images/basket.jpg")" height="25" width="25"></a></td>
                    </tr>

                        <!--TODO Хреново организованное удаление контакта-->
                    <div id="delModal@contracts.contract_id" class="modal hide fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-header">
                    <button id="addContactBut" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">Удаление</h3>
                    </div>
                    <div class="modal-body">
                    <div class="warning">Вы уверены, что хотите удалить договор?</div>
                    <div class="modal-footer">
                    <button id="DelCloseBtn" class="btn" data-dismiss="modal" aria-hidden="true">Отмена</button>
                    <a href="@routes.Application.DelContract(contracts.contract_id)"><button id="DelContact"  type="submit" class="btn btn-primary">Удалить</button></a>
                    </div>
                    </div>
                    </div>
                }

            </tbody>
        </table>
        <div class="pagination pagination-centered pagination-small">
            <ul>
                @for(i<- 0 to currentPage.getTotalPageCount-1){
                    @if(i.equals(currentPage.getPageIndex)){
                        <li class="disabled"><a href="@routes.Application.SearchDoc(i)">@(i+1)</a></li>
                    }else{<li class="active"><a href="@routes.Application.SearchDoc(i)">@(i+1)</a></li>}
                }</ul>
        </div>

    </div>


    <script type="text/javascript">
            $(document).ready(function()
            {
            $('#dp1').datepicker();
            $('#dp2').datepicker();
            $('#dp3').datepicker();

            });
    </script>

}