@(page: Html)
@import helper._
@main("Кабинет юриста"){
    <div class="container">
        <div class="container">
            <div class="row-fluid"></div>
        </div>
        <div class="container">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="brand">Договора онлайн</a>
                        <ul class="nav pull-right">

                            <li class="pull-right">
                                <a href="@routes.Application.logout()" class="active">Выйти</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
<div class="container">
<div class="row">
<div class="span2">
   <ul class="thumbnails ">
    <li class="span2">
        <a href="@routes.Application.SearchDoc()" class="thumbnail">
            <img src="@routes.Assets.at("images/list.jpg")" alt="">
        </a>
        <strong><p class="text-center">Поиск</p></strong>

    </li>
       <br>
       <li class="span2">
           <a href="@routes.Application.AddContractPage()" class="thumbnail">
               <img src="@routes.Assets.at("images/add-icon.png")"  alt="">
           </a>
           <strong><p class="text-center">Добавить</p> </strong>

       </li>
       <br>
       <li class="span2">
           <a href="@routes.Application.AddContragentPage()" class="thumbnail">
               <img src="@routes.Assets.at("images/partner.png")"  alt="">
           </a>
           <strong><p class="text-center">Контрагенты</p> </strong>
       </li>
       <br>
       <li class="span2">
           <a href="@routes.Application.AddContactPage()" class="thumbnail">
               <img src="@routes.Assets.at("images/contact-icon.png")"  alt="">
           </a>
           <strong><p class="text-center">Контакты</p> </strong>
       </li>
       <br>
       <li class="span2">
           <a href="@routes.Application.AddFolderPage()" class="thumbnail">
               <img src="@routes.Assets.at("images/papki.jpg")"  alt="">
           </a>
           <strong><p class="text-center">Папки</p> </strong>
       </li>
       <br>
       <li class="span2">
           <a href="@routes.Application.ReportsPage()" class="thumbnail">
               <img src="@routes.Assets.at("images/report.jpg")"  alt="">
           </a>
           <strong><p class="text-center">Отчеты</p> </strong>
       </li>

</ul>

</div>
    <div class="span1">
       </div>

<div class="span8">
 @page

</div>
</div>
</div>
</div>
</div>
}