@(page: Html)
@import helper._
@main("Кабинет пользователя"){
    <div class="container">
        <div class="container">
            <div class="row-fluid"></div>
        </div>
        <div class="container">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="brand">Договора онлайн</a>
                        <ul class="nav pull-right">

                            <li class="pull-right">
                                <a href="@routes.Application.logout()" class="active">Выйти</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="span2">
                      <ul class="thumbnails">
                        <li class="span2">
                            <a href="@routes.Application.SearchDocUser()" class="thumbnail">
                                <img src="@routes.Assets.at("images/list.jpg")" alt="">
                            </a>
                        </li>
                      </ul>
                    </div>
                    <div class="span1">

                    </div>


                    <div class="span8">
                        @page

                    </div>
                </div>
            </div>
        </div>
    </div>
}