@(id:Int, data:List[dopdocs])
@import helper._
@urist{

    <h3 xmlns="http://www.w3.org/1999/html">@contracts.find.byId(id).contr_c.contr_name</h3>
    <hr>
    <h5>"@contracts.find.byId(id).contract_name" №@contracts.find.byId(id).contract_num от @contracts.find.byId(id).contract_date_start.format("dd.MM.yyyy") г.  <a href="#editDoc@id" data-toggle="modal" data-target="#editDoc@id"><i class="icon-edit"></i></a></h5>
    <h5>Хранится в папке - "@contracts.find.byId(id).papki_c.papki_name"</h5>
    @if(contracts.find.byId(id).contract_price!=null){
        <p>Цена контракта - @contracts.find.byId(id).contract_price</p>
    }else {
        <p>Цена контракта - по счету</p>
    }
    @if(contracts.find.byId(id).contract_bigdeal==null || contracts.find.byId(id).contract_bigdeal==""){
        <p>Крупной сделкой не является</p>
    }else {
        <p>Крупная сделка. Протокол № @contracts.find.byId(id).contract_bigdeal</p>
    }

    @if(contracts.find.byId(id).contract_date_end==null){
        <p>Срок окончания действия - не указан</p>
    }else {
    <p>Срок окончания действия - @contracts.find.byId(id).contract_date_end.format("dd.MM.yyyy") г.</p>
    }
   @if(contracts.find.byId(id).contract_prolong==true){
        <p>Условие о пролонгации - присутствует</p>
    }else {
    <p>Условие о пролонгации - отсутствует</p>
    }


    <div id="editDoc@id" class="modal hide fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button id="addDocBut" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalDoc">Редактирование договора</h3>
        </div>

        @form(routes.Application.EditDoc(id), 'name->"EditDoc", 'id->"EditDoc"){
            <div class="modal-body">
                    <input type="hidden" name="contract_id" value="@id">
                <input type="hidden" name="id" value="@id">
                    <input name="contract_num" value="@contracts.find.byId(id).contract_num" placeholder="Номер договора" class="input-medium required" type="text"> <br>
                    <input name="contract_name" value="@contracts.find.byId(id).contract_name" placeholder="Название договора" class="input-xxlarge required" type="text">
                    <input id="contract_price" value="@contracts.find.byId(id).contract_price" name="contract_price" type="text" class="input-medium" placeholder="Цена контракта">
                   <!--<div class="form-inline"><label class="checkbox"><input name="big" id="big_check"  type="checkbox"> Крупная сделка</label>-->
                      <input name="contract_bigdeal" id="contract_bigdeal" value="@contracts.find.byId(id).contract_bigdeal" placeholder="Номер протокола" class="input-medium" type="text"><br>


                <div class="input-append date required" id="dp1" data-date="@contracts.find.byId(id).contract_date_start.format("dd.MM.yyyy")" data-date-format="dd.mm.yyyy">
                    <input name="contract_date_start" value="@contracts.find.byId(id).contract_date_start.format("dd.MM.yyyy")" placeholder="Договор от" class="span2" size="16" type="text" contenteditable="false">
                    <span class="add-on"><i class="icon-th"></i></span>
                </div>
                @if(contracts.find.byId(id).contract_date_end!=null){
                <div class="input-append date" id="dp2" data-date="@contracts.find.byId(id).contract_date_end.format("dd.MM.yyyy")" data-date-format="dd.mm.yyyy" >
                    <input name="contract_date_end" value="@contracts.find.byId(id).contract_date_end.format("dd.MM.yyyy")" placeholder="Дата окончания" class="span2" size="16" type="text" contenteditable="false">
                    <span class="add-on"><i class="icon-th"></i></span>
                </div>
                }else{
                <div class="input-append date" id="dp2" data-date="" data-date-format="dd.mm.yyyy" >
                    <input name="contract_date_end" placeholder="Дата окончания" class="span2" size="16" type="text" contenteditable="false">
                    <span class="add-on"><i class="icon-th"></i></span>
                </div>
                }
               @if(contracts.find.byId(id).contract_prolong==true){
               <label class="checkbox"><input name="contract_prolong" type="checkbox" checked> Есть ли условие пролонгации</label>
                }else{
                   <label class="checkbox"><input name="contract_prolong" type="checkbox"> Есть ли условие пролонгации</label>

                   }


                <br>

                <div class="modal-footer">
                    <button id="DocCloseBtn" class="btn" data-dismiss="modal" aria-hidden="true">Отмена</button>
                    <button id="EditContract"  type="submit" class="btn btn-primary" form="EditDoc">Изменить</button>
                </div>
            </div>
        }
    </div>
    <hr>

    <p>Краткая информация о договоре<a href="#editModal@id" data-toggle="modal" data-target="#editModal@id"><i class="icon-edit"></i></a></p>
    <div class="well">
    <p>@contracts.find.byId(id).contract_story</p>
    </div>

    <div id="editModal@id" class="modal hide fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button id="addContactBut" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Примечание</h3>
        </div>
        @form(routes.Application.EditStory(id), 'name->"EditStory", 'id->"EditStory"){
        <div class="modal-body">
            <input name="param" class="input-xxlarge" placeholder="Примечания к договору">
            <div class="modal-footer">
                <input name="id" type="hidden" value="@id" >
                <button id="DelCloseBtn" class="btn" data-dismiss="modal" aria-hidden="true">Отмена</button>
                <button id="DelContact"  type="submit" class="btn btn-primary" form="EditStory">Изменить</button>
            </div>
        </div>
        }
    </div>
    <hr>
    <h3>Дополнительные соглашения
        <br>
    </h3>

    <table class="table table-striped table-condensed table-bordered">
        <thead>
            <tr>

                <th>Номер соглашения</th>
                <th>Дата соглашения</th>
                <th>Скачать скан</th>
                <th>Скачать текст</th>
            </tr>
        </thead>
        <tbody>

            @for((dopdocs, index)<-data.zipWithIndex){

                <tr>
                <td>@dopdocs.contract_num</td>
                <td>@dopdocs.contract_date_start.format("dd.MM.yyyy")</td>
                <td><a href="@routes.Application.GetFile(id, index, true, true)"><img src="@routes.Assets.at("images/pdf-format.jpg")" height="25" width="25"></a></td>
                    @if(dopdocs.dop_orig_name!=null){
                        <td><a href="@routes.Application.GetFile(id, index, false, true)"><img src="@routes.Assets.at("images/word-format.jpg")" height="25" width="25"></a></td>
                    }else{
                <td></td>
                    }


            }

        </tbody>
    </table>
    <a href="@routes.Application.AddDopPage(id)"><button id="addDop" class="btn">Добавить</button></a>
    <hr>
    <h3>Контактное лицо<a href="#editContact@id" data-toggle="modal" data-target="#editContact@id"><i class="icon-edit"></i></a></h3>
    @if(contracts.find.byId(id).contacts_c==null){
        <p>не указано</p>
    }else{

        @if(contracts.find.byId(id).contacts_c==null){
            <p>ФИО - не указано</p>
        }else{
            <p>ФИО - @contracts.find.byId(id).contacts_c.contact_fio</p>
        }
        <p>Должность - @contracts.find.byId(id).contacts_c.contact_dolgn</p>
        <p>Городской телефон - @contracts.find.byId(id).contacts_c.contact_tel</p>
        <p>Мобильный телефон - @contracts.find.byId(id).contacts_c.contact_mobile</p>
        <p>email - @contracts.find.byId(id).contacts_c.contact_email</p>
        @if(contracts.find.byId(id).contacts_c.contact_birth==null){
            <p>Дата рождения - не указана</p>
        } else {
            <p>Дата рождения - @contracts.find.byId(id).contacts_c.contact_birth.format("dd.MM.yyyy") г.</p>
        }


    }
    <div id="editContact@id" class="modal hide fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button id="editContactBut" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="ContactLabel">Изменить контакт</h3>
        </div>
        @if(contracts.find.byId(id).contacts_c==null){
        @form(routes.Application.AddContact(id), 'name->"AddContact", 'id->"AddContact"){
            <div class="modal-body">
                <div class="controls">

                    <input name="contact_id" type="hidden">

                    <input id="contact_fio"  name="contact_fio" placeholder="ФИО" class="input-xxlarge" type="text">


                    <input id="contact_tel"  name="contact_tel" placeholder="Городской телефон" class="input-xxlarge digits" type="text">
                    <input id="contact_mobile" name="contact_mobile" placeholder="Мобильный телефон" class="input-xxlarge digits" type="text">
                    <input id="contact_email"  name="contact_email" placeholder="email" class="input-xxlarge email" type="text">
                    <input id="contact_dolgn" name="contact_dolgn" placeholder="Должность" class="input-xxlarge" type="text">
                    <input id="contact_birth"  name="contact_birth" placeholder="Дата рождения (дд/мм/гггг)" class="input-large date" type="text">

                </div>
                <div class="modal-footer">
                    <input name="id" type="hidden" value="@id" >
                    <button id="ContCloseBtn" class="btn" data-dismiss="modal" aria-hidden="true">Отмена</button>
                    <button id="ContContact"  type="submit" class="btn btn-primary" form="AddContact">Изменить</button>
                </div>
            </div>
        }
        }else{
                @form(routes.Application.EditContact(), 'name->"EditContact", 'id->"EditContact"){
                    <div class="modal-body">
                        <div class="controls">

                            <input name="contact_id" value="@contracts.find.byId(id).contacts_c.contact_id" type="hidden">

                            <input id="contact_fio" value="@contracts.find.byId(id).contacts_c.contact_fio" name="contact_fio" placeholder="ФИО" class="input-xxlarge" type="text">


                            <input id="contact_tel" value="@contracts.find.byId(id).contacts_c.contact_tel" name="contact_tel" placeholder="Городской телефон" class="input-xxlarge digits" type="text">
                            <input id="contact_mobile"  value="@contracts.find.byId(id).contacts_c.contact_mobile" name="contact_mobile" placeholder="Мобильный телефон" class="input-xxlarge digits" type="text">
                            <input id="contact_email" value="@contracts.find.byId(id).contacts_c.contact_email" name="contact_email" placeholder="email" class="input-xxlarge email" type="text">
                            <input id="contact_dolgn" value="@contracts.find.byId(id).contacts_c.contact_dolgn" name="contact_dolgn" placeholder="Должность" class="input-xxlarge" type="text">
                            <input id="contact_birth" value="@contracts.find.byId(id).contacts_c.contact_birth" name="contact_birth" placeholder="Дата рождения (дд/мм/гггг)" class="input-large date" type="text">

                        </div>
                        <div class="modal-footer">
                            <input name="id" type="hidden" value="@id" >
                            <button id="ContCloseBtn" class="btn" data-dismiss="modal" aria-hidden="true">Отмена</button>
                            <button id="ContContact"  type="submit" class="btn btn-primary" form="EditContact">Изменить</button>
                        </div>
                    </div>
                }
            }


    </div>
    <hr>
    <h3>Скачать
        <br>
    </h3><a href="@routes.Application.GetFile(id, 0, true, false)"> <img id="scandownload" src="@routes.Assets.at("images/pdf-format.jpg")" width="100px"></a>

    @if(contracts.find.byId(id).orig_txt_name!=null){
        <a href="@routes.Application.GetFile(id, 0, false, false)"> <img src="@routes.Assets.at("images/word-format.jpg")" width="100px"></a>
    }
    <br> <br>
    <table class="table table-bordered">
    <tr>
    <td>
    <h3>Инициатор
        <br>
    </h3>
    <p>Подразделение - @user.find.byId(contracts.find.byId(id).init_c.user_id).dolg_u.otdel_d.otdel_name</p>
    <p>Должность - @user.find.byId(contracts.find.byId(id).init_c.user_id).dolg_u.dolg_name</p>
    <p>Сотрудник - @user.find.byId(contracts.find.byId(id).init_c.user_id).user_fio</p>
    <p>email - @user.find.byId(contracts.find.byId(id).init_c.user_id).email</p>
    <p>Телефон - @user.find.byId(contracts.find.byId(id).init_c.user_id).phone</p>
    </td>
    <td>
    <h3>Внес в систему
    <br>
    </h3>
    <p>Подразделение - @user.find.byId(contracts.find.byId(id).contract_urist).dolg_u.otdel_d.otdel_name</p>
    <p>Должность - @user.find.byId(contracts.find.byId(id).contract_urist).dolg_u.dolg_name</p>
    <p>Сотрудник - @user.find.byId(contracts.find.byId(id).contract_urist).user_fio</p>
    <p>email - @user.find.byId(contracts.find.byId(id).contract_urist).email</p>
    <p>Телефон - @user.find.byId(contracts.find.byId(id).contract_urist).phone</p>
    </td>
    </tr>
    </table>

    <script type="text/javascript">
            $("#big_check").change(function(e)
            {
            $("#contract_bigdeal").prop('disabled', !$("#big_check").prop("checked"));
            return false;
            });

            $(document).ready(function()
            {
            $('#dp1').datepicker();
            $('#dp2').datepicker();
            });

            $("#contract_price").change(function(e)
            {
            var  price = $("#contract_price").val();
            price=price.replace(',', ".");
            $("#contract_price").val(price);
            return false;
            });
    </script>

}
