@(currentPage: com.avaje.ebean.Page[contracts])
@import helper._
@urist{

    <h2>Содержимое папки</h2>
    <div class="control-group">


        <div class="pagination pagination-centered pagination-small">
            <ul>

                @for(i<- 0 to currentPage.getTotalPageCount-1){
                    @if(i.equals(currentPage.getPageIndex)){
                        <li class="disabled"><a href="@routes.Application.SearchDoc(i)">@(i+1)</a></li>
                    }else{<li class="active"><a href="@routes.Application.SearchDoc(i)">@(i+1)</a></li>}
                }
            </ul>
        </div>

        <table class="table table-striped table-condensed table-bordered">
            <thead>
                <tr>
                    <th>Номер договора</th>
                    <th>Наименование договора</th>
                    <th>Контрагент</th>
                    <th>Дата</th>

                    <th>Удалить договор</th>
                </tr>
            </thead>
            <tbody>

                @for(contracts<-currentPage.getList){

                    <tr>
                    <td>@contracts.contract_num</td>
                    <td><a href="@routes.Application.ViewDocPage(contracts.contract_id)">@contracts.contract_name</a></td>
                    <td><a href="@routes.Application.EditContragentPage(contracts.contr_c.contr_id)">@contracts.contr_c.contr_name</td>
                    <td>@contracts.contract_date_start.format("dd.MM.yyyy")</td>
                    <td><a href="#delModal@contracts.contract_id" data-toggle="modal" data-target="#delModal@contracts.contract_id"><img src="@routes.Assets.at("images/basket.jpg")" height="25" width="25"></a></td>
                    </tr>

                        <!--TODO Хреново организованное удаление контакта-->
                    <div id="delModal@contracts.contract_id" class="modal hide fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-header">
                    <button id="addContactBut" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">Удаление</h3>
                    </div>
                    <div class="modal-body">
                    <div class="warning">Вы уверены, что хотите удалить отдел?</div>
                    <div class="modal-footer">
                    <button id="DelCloseBtn" class="btn" data-dismiss="modal" aria-hidden="true">Отмена</button>
                    <a href="@routes.Application.DelContract(contracts.contract_id)"><button id="DelContact"  type="submit" class="btn btn-primary">Удалить</button></a>
                    </div>
                    </div>
                    </div>
                }

            </tbody>
        </table>
        <div class="pagination pagination-centered pagination-small">
            <ul>
                @for(i<- 0 to currentPage.getTotalPageCount-1){
                    @if(i.equals(currentPage.getPageIndex)){
                        <li class="disabled"><a href="@routes.Application.SearchDoc(i)">@(i+1)</a></li>
                    }else{<li class="active"><a href="@routes.Application.SearchDoc(i)">@(i+1)</a></li>}
                }</ul>
        </div>

    </div>

}