@(id:Int, data:List[dopdocs])
@import helper._
@userscab{

    <h3>@contracts.find.byId(id).contr_c.contr_name</h3>
    <hr>
    <h5>"@contracts.find.byId(id).contract_name" №@contracts.find.byId(id).contract_num от @contracts.find.byId(id).contract_date_start.format("dd.MM.yyyy") г.</h5>
    <h5>Хранится в папке - "@contracts.find.byId(id).papki_c.papki_name"</h5>
    @if(contracts.find.byId(id).contract_price!=null){
        <p>Цена контракта - @contracts.find.byId(id).contract_price</p>
    }else {
        <p>Цена контракта - по счету</p>
    }
    @if(contracts.find.byId(id).contract_bigdeal==null){
        <p>Крупной сделкой не является</p>
    }else {
        <p>Крупная сделка. Протокол № @contracts.find.byId(id).contract_bigdeal</p>
    }

    @if(contracts.find.byId(id).contract_date_end==null){
        <p>Срок окончания действия - не указан</p>
    }else {
        <p>Срок окончания действия - @contracts.find.byId(id).contract_date_end.format("dd.MM.yyyy") г.</p>
    }
    @if(contracts.find.byId(id).contract_prolong==true){
        <p>Условие о пролонгации - присутствует</p>
    }else {
        <p>Условие о пролонгации - отсутствует</p>
    }

    <hr>

    <p>Краткая информация о договоре</p>
    <div class="well">
        <p>@contracts.find.byId(id).contract_story</p>
    </div>

    <hr>
    <h3>Дополнительные соглашения
        <br>
    </h3>

    <table class="table table-striped table-condensed table-bordered">
        <thead>
            <tr>

                <th>Номер соглашения</th>
                <th>Дата соглашения</th>
                <th>Скачать скан</th>
                <th>Скачать текст</th>
            </tr>
        </thead>
        <tbody>

            @for((dopdocs, index)<-data.zipWithIndex){

                <tr>
                <td>@dopdocs.contract_num</td>
                <td>@dopdocs.contract_date_start.format("dd.MM.yyyy")</td>
                <td><a href="@routes.Application.GetFile(id, index, true, true)"><img src="@routes.Assets.at("images/pdf-format.jpg")" height="25" width="25"></a></td>
                    @if(dopdocs.dop_orig_name!=null){
                        <td><a href="@routes.Application.GetFile(id, index, false, true)"><img src="@routes.Assets.at("images/word-format.jpg")" height="25" width="25"></a></td>
                    }else{
                        <td></td>
                    }

                </tr>

            }

        </tbody>
    </table>
    <hr>
    <h3>Контактное лицо<a href="#editContact@id" data-toggle="modal" data-target="#editContact@id"></a></h3>
    @if(contracts.find.byId(id).contacts_c==null){
        <p>не указано</p>
    }else{

        @if(contracts.find.byId(id).contacts_c==null){
            <p>ФИО - не указано</p>
        }else{
            <p>ФИО - @contracts.find.byId(id).contacts_c.contact_fio</p>
        }
        <p>Должность - @contracts.find.byId(id).contacts_c.contact_dolgn</p>
        <p>Городской телефон - @contracts.find.byId(id).contacts_c.contact_tel</p>
        <p>Мобильный телефон - @contracts.find.byId(id).contacts_c.contact_mobile</p>
        <p>email - @contracts.find.byId(id).contacts_c.contact_email</p>
        @if(contracts.find.byId(id).contacts_c.contact_birth==null){
            <p>Дата рождения - не указана</p>
        } else {
            <p>Дата рождения - @contracts.find.byId(id).contacts_c.contact_birth.format("dd.MM.yyyy") г.</p>
        }


    }

    <hr>
    <h3>Скачать
        <br>
    </h3><a href="@routes.Application.GetFile(id, 0, true, false)"> <img id="scandownload" src="@routes.Assets.at("images/pdf-format.jpg")" width="100px"></a>

    @if(contracts.find.byId(id).orig_txt_name!=null){
        <a href="@routes.Application.GetFile(id, 0, false, false)"> <img src="@routes.Assets.at("images/word-format.jpg")" width="100px"></a>
    }
    <br> <br>
    <table class="table table-bordered">
        <tr>
            <td>
                <h3>Инициатор
                    <br>
                </h3>
                <p>Подразделение - @user.find.byId(contracts.find.byId(id).init_c.user_id).dolg_u.otdel_d.otdel_name</p>
                <p>Должность - @user.find.byId(contracts.find.byId(id).init_c.user_id).dolg_u.dolg_name</p>
                <p>Сотрудник - @user.find.byId(contracts.find.byId(id).init_c.user_id).user_fio</p>
                <p>email - @user.find.byId(contracts.find.byId(id).init_c.user_id).email</p>
                <p>Телефон - @user.find.byId(contracts.find.byId(id).init_c.user_id).phone</p>
            </td>
            <td>
                <h3>Внес в систему
                    <br>
                </h3>
                <p>Подразделение - @user.find.byId(contracts.find.byId(id).contract_urist).dolg_u.otdel_d.otdel_name</p>
                <p>Должность - @user.find.byId(contracts.find.byId(id).contract_urist).dolg_u.dolg_name</p>
                <p>Сотрудник - @user.find.byId(contracts.find.byId(id).contract_urist).user_fio</p>
                <p>email - @user.find.byId(contracts.find.byId(id).contract_urist).email</p>
                <p>Телефон - @user.find.byId(contracts.find.byId(id).contract_urist).phone</p>
            </td>
        </tr>
    </table>

}
